#h1 {
  color: red;
  font-size: 110px;
}

p {
  color: red;
  font-size: 60px;
}
body{  background-image: url("SPACE.jpg");}

#main {
  color: white;
  font-size: 30px;

}
#red{
background:#ff0000;

}
#green{
background:#32CD32;

}
#blue{
background:#0000ff;

}
